sounddevice
google-genai
google-generativeai
pillow
requests
beautifulsoup4
duckduckgo-search
playwright
pyautogui
pyperclip
pygetwindow
opencv-python
numpy
mss
psutil
comtypes
pycaw
win10toast
send2trash
youtube-transcript-api
pywinauto
python-pptx
pyqt6
yt-dlp
imageio-ffmpeg
pyinstaller
python-dotenv
websockets
tenacity
webrtcvad-wheels
# tensorflow (Optional skill dependency)
protobuf>=4.21.0,<6.0.0
pyTelegramBotAPI
paho-mqtt
python-telegram-bot
python-json-logger
scipy
pandas
matplotlib
pyyaml
mediapipe
browser-cookie3
screeninfo
gradio
chromadb
transformers
sentence-transformers
 # Project: Cifik Intelegents
